* {
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

header {
	height: 60px;
	width: auto;
	background-color: rgb(0, 86, 182);
}

header img {
	height: 40%;
	position: relative;
	top: 30%;
	left: 1.8%;
}

.logo-nav {
	height: 75px;
	width: auto;
	display: inline-block;
	align-items: center;

}

.logo-nav img {
	height: 100%;
	margin: 0 auto;
	filter: drop-shadow(1px 1px 10px);
	vertical-align: center;
	padding: 0px 50px;
}

body {
	/*
	background: rgb(0, 86, 182);
	*/
	box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
	background: url(img/thumb-1920-860645.png);
	background-size: 92%;
	background-position: bottom;
	background-repeat: repeat;
	background-attachment: fixed;
	overflow-y: scroll;
	position: relative;
}

/* Characters boxes*/

.paragraph {	
	border-radius: 15px;
	max-height: 150px;
	overflow: hidden;
	margin-bottom: 30px;
	transition: max-height 0.3s;

}

.mario {
	background: url(img/mario-back.gif);

}

.luigi {
	background: url(img/luigi-back.gif);
}

.peach {
	background: url(img/peach-back.gif);
}

.yoshi {
	background: url(img/yoshi-back.gif);
}

.dk {
	background: url(img/dk-back.gif);
}

h1 {
	font-family: museo-sans, sans-serif;
	font-weight: 900;
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: left;
	position: relative; left: 100px; top: 25px;
	font-size: 60px;
	transition-property: font-size, left, top;
	transition-duration: 0.8s;

}

.mario h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 100px; top: 25px;
}

.luigi h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 100px; top: 25px;
}

.peach h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 50px; top: 25px;
}

.yoshi h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 120px; top: 25px;
}

.dk h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 40px; top: 25px;
}

.characters p {
	text-align: justify;
	font-family: museo-sans, sans-serif;
	transition-property: all; 
	transition-duration: 0.3s;
	opacity: 0;
}

.p-main {
	font-weight: 700;
	padding: 0px 40px 0px 40px;
	color: white;
}

.p-second {	
	font-weight: 700;
	font-style: italic;
	padding: 2em 40px 1.5em 40px;
	color: black;
}

/* Navigator */

div.menu {
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

div.back {
	background: url(img/super-mario-bros-brick-rug-pattern-texture-wall-transparent-png-1205198.png);
	background-position: top;
	background-size: 300px;
	box-sizing: content-box; height: 148px;
	box-shadow: 0px 3px 4px 3px rgb(0, 0, 0);
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 5000;
	vertical-align: middle;
}

div.nav {	
	margin: 0 auto;
	vertical-align: middle;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

div.pad {
	display: inline;
	padding: 20px;
}

div.characters {
	max-width: 860;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 120px;
}

a {
	display: inline-block;
	box-sizing: inherit;
}

a button {
	background: url(img/bottone-nav.jpg) ;
	background-size: 230px 69px;
	border: none;
	border-radius: 12px;
	box-sizing: content-box; width: 229px; height: 68px;
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 100%);
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;

}

.button:active {
	transform: scale(0.95);
	box-shadow: 0px 0px 8px 7.33px rgba(0, 0, 0, 100%);
} 

/* Characters img */

img {
	float: left;
	height: auto;
	position: relative;
}

.mario img {
	padding: 20px 5px 20px 20px;
	width: 23%;
	transition: width 0.8s, left 0.8s, padding 0.8s;
	left: 25px;
}

.luigi img {
	padding: 20px 5px 40px 0px;
	width: 25%;
	transition: width 0.8s, left 0.8s, padding 0.8s, top 0.8s;
	top: 0;
}

.peach img {
	padding: 10px 5px 20px 0px;
	width: 30%;
	transition: width 0.8s, left 0.8s, padding 0.8s, top 0.8s;
	left: -18px;
	top: 0px;
}	

.yoshi img {
	padding: 10px 5px 20px 24px;
	width: 19%;
	transition: width 0.8s, left 0.8s, padding 0.8s, top 0.8s;
	left: 10px;
	top: 0px;
}

.dk img {
	padding: 0px 5px 20px 10px;
	width: 30%;
	transition: width 0.8s, left 0.8s, padding 0.8s, top 0.8s;
	top: -10px;
}		

.paragraph:hover {
	max-height: 1000px;
	transition: max-height 0.8s;
}

.paragraph:hover p{
	opacity: 100;
	transition: opacity 0.8s;
}

.paragraph:hover h1{
	font-size: 2em;
	left: 0px;
	top: 0px;
	
}

.mario:hover img{
	width: 18%;
	left: 0px;
	padding: 30px 25px 20px 30px;	
}

.luigi:hover img{
	width: 19%;
	left: 0px;
	top: 10px;
	padding: 30px 25px 40px 30px;
}

.peach:hover img{
	width: 24%;
	left: 0px;
	top: 0px;
	padding: 30px 25px 20px 30px;
}

.yoshi:hover img{
	width: 15%;
	left: 0px;
	top: 0px;
	padding: 30px 25px 20px 30px;
}

.dk:hover img{
	width: 24%;
	left: 0px;
	top: 0px;
	padding: 10px 25px 20px 30px;
}

footer {
	height: 90px;
	background-color: rgb(41, 40, 30);
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 2;
}

.footer-logo {
	margin: 0 auto;
	width: 100%;
}

.footer-logo img {
	margin: 0 auto;
	max-width: 1300px;
	filter:	drop-shadow(1px 1px 2px);
	position: relative;
	bottom: 26px;
	left: 50px;
}

.img-bottom {
	display: flex;
	align-items: center;
	max-width: 860px;
	margin: 0 auto;
	position: relative;
	top: 29.98px;
	z-index: 1;	

}

.img-top {
	display: flex;
	align-items: center;
	max-width: 860px;
	margin: 0 auto;
	position: relative;
	bottom: 0px;
}

footer img {
	max-height: 30px;
	margin: 0 auto
}

.img-bottom a {
	margin: 0 auto;
}

.img-top a {
	margin: 0 auto;
	z-index: 1;

}

#fb-on {
	visibility: hidden;
	cursor: pointer;
}

.fb:hover > #fb-on {
	visibility: visible;
}

#twitter-on {
	visibility: hidden;
	cursor: pointer;
}

.twitter:hover > #twitter-on {
	visibility: visible;
}

#ig-on {
	visibility: hidden;
	cursor: pointer;
}

.ig:hover > #ig-on {
	visibility: visible;
}

#reddit-on {
	visibility: hidden;
	cursor: pointer;
}

.reddit:hover > #reddit-on {
	visibility: visible;
}

.background-games{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.smbros{
	background: url(img/thumb-1920-860645.png);
	background-size: 100% auto;
	background-position: bottom, center;
	image-rendering: pixelated;
}

.smworld{
	background: url(img/super-mario-world-bg.jpg);
	background-size: 100% auto;
	background-position: bottom, center;
	image-rendering: pixelated;
}

.sm64{
	background: url(img/super-mario-64-bg.jpg);
	background-size: 100% auto;
	background-position: top, center;
	image-rendering: pixelated;
}

.nav-button {
	margin-bottom: 2rem;
}

.game-button button{
	margin: 0px 20px!important;
}

#smbros-game button{
	background: url(img/Super_Mario_Bros._Logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 12px;
	height: 60px !important; 
	width: 200px !important;
	border: 0 !important;
}

#smworld-game button{
	background: url(img/Super_Mario_World_game_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 12px;
	height: 79.5px !important; 
	width: 200px !important;
	border: 0 !important;
}

#sm64-game button{
	background: url(img/Super_Mario_64_Logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 12px;
	height: 79.5px !important; 
	width: 200px !important;
	border: 0 !important;
}

.game-slides {
	height: 60vh;
}

.button-bg {
	background: rgba(0, 0, 0, 0.8);
	height: 120px;
	display: flex;
	align-items: center;
	border-radius: 20px;

}

.carousel-control-prev {
	position: relative;
	background-color: rgba(0, 0, 0, 0) !important;
}

.carousel-control-next {
	position: relative;
	background-color: rgba(0, 0, 0, 0) !important;
}

.game p {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-family: museo-sans, sans-serif;
	font-size: 0.9em;
	padding: 20px;
	position: relative;
	top: 40px;
	width: 70%;
	border-radius: 20px;
}

.mario-game {
	width: 60%;
	height: 500px;
	position: relative;
	display: block;
	margin-top: 58px;
	border-radius: 20px;
}

.mc-container {
	background-color: rgb(0, 86, 182) ;
	display: flex;
	width: 100%;
	height: 700px;
	align-items: center;
	flex-direction: column;
}