* {
	padding: 0;
	margin: 0;
}

body {
	/*
	background: rgb(0, 86, 182);
	*/
	box-shadow: inset 0px 0px 0px 1000px rgba(0, 0, 0, 0.5);
	background: url(thumb-1920-860645.png);
	background-size: contain;
	background-position: bottom;
	overflow: scroll;
}


.paragraph {	
	border-radius: 15px;
	height: 150px;
	overflow: hidden;
	margin-bottom: 50px;
	transition: height 5s;

}

.mario {
	background: url(mario-back.gif);

}

.luigi {
	background: url(luigi-back.gif);
}

.peach {
	background: url(peach-back.gif);
}

.yoshi {
	background: url(yoshi-back.gif);
}


h1 {
	font-family: museo-sans, sans-serif;
	font-weight: 900;
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: left;
	position: relative; left: 100px; top: 25px;
	font-size: 60px;
	transition-property: font-size, left, top;
	transition-duration: 0.6s;

}

.mario h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 100px; top: 25px;
}

.luigi h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 80px; top: 25px;
}

.peach h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 50px; top: 25px;
}

.yoshi h1 {
	color: white;
	padding-top: 15px;
	padding-bottom: 10px;
	position: relative; left: 120px; top: 25px;
}

p {
	text-align: justify;
	hyphens: auto;
	font-family: museo-sans, sans-serif;
	transition-property: all; 
	transition-duration: 0.6s;
	opacity: 0;
	max-height: 0;
}

.p-main {
	font-weight: 700;
	padding: 0px 40px 0px 40px;
	color: white;
}

.p-second {	
	font-weight: 700;
	font-style: italic;
	padding: 2em 40px 1.5em 40px;
	color: black;
}

div.menu {
	font-family: museo-sans, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

div.back {
	background: url(super-mario-bros-brick-rug-pattern-texture-wall-transparent-png-1205198.png);
	background-position: top;
	background-size: 300px;
	box-sizing: content-box; height: 148px;
	box-shadow: 0px 3px 4px 3px rgb(0, 0, 0);
	text-align: center;
}

div.nav {
	padding: 38px;	
	max-width: 860px;
	margin: 0 auto;
}

div.nav-2 {
	padding-bottom: 60px;
}

div.pad {
	display: inline;
	padding: 20px;
}

a {
	display: inline-block;
	box-sizing: inherit;
}

button {
	background: url(bottone-nav.jpg) ;
	background-size: 230px 69px;
	border: none;
	border-radius: 12px;
	box-sizing: content-box; width: 229px; height: 68px;
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 100%);
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;

}

.button:active {
	transform: scale(0.95);
	box-shadow: 0px 0px 8px 7.33px rgba(0, 0, 0, 100%);
} 

img {
	float: left;
	height: auto;
	position: relative;
}

.mario img {
	padding: 20px 5px 20px 20px;
	width: 23%;
	transition: width 0.6s, left 0.6s, padding 0.6s;
	left: 25px;
}

.luigi img {
	padding: 20px 5px 40px 20px;
	width: 25%;
	transition: width 0.6s, left 0.6s, padding 0.6s, top 0.6s;
	left: 25px;
	top: 0px;
}

.peach img {
	padding: 10px 5px 20px 0px;
	width: 30%;
	transition: width 0.6s, left 0.6s, padding 0.6s, top 0.6s;
	left: -18px;
	top: 0px;
}	

.yoshi img {
	padding: 10px 5px 20px 24px;
	width: 19%;
	transition: width 0.6s, left 0.6s, padding 0.6s, top 0.6s;
	left: 10px;
	top: 0px;
}	

.paragraph:hover {
	height: auto;
}

.paragraph:hover p{
	opacity: 100;
	max-height: 800px;
}

.paragraph:hover h1{
	font-size: 2em;
	left: 0px;
	top: 0px;
	
}

.mario:hover img{
	width: 18%;
	left: 0px;
	padding: 30px 25px 20px 30px;	
}

.luigi:hover img{
	width: 20%;
	left: 0px;
	top: 10px;
	padding: 30px 25px 40px 30px;
}

.peach:hover img{
	width: 24%;
	left: 0px;
	top: 0px;
	padding: 30px 25px 20px 30px;
}

.yoshi:hover img{
	width: 15%;
	left: 0px;
	top: 0px;
	padding: 30px 25px 20px 30px;
}

